.main-form {
    height: auto;
    display: flex;
    justify-content: center;
}

.main-form .card {
    width: 550px;
    border: none;
    background: transparent;
}

.main-form .card .save-btn {
    color: #fff;
    background-color: #2b2c14;
    border: 1px solid #2b2c14 !important;
    padding: 20px;
    width: 40%;
}

.main-form .card .save-btn:hover {
    color: #2b2c14 !important;
    background-color: transparent !important;
}